@charset "UTF-8";
@import "reset.css";
@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
body {
    color: #000a12;
    text-rendering: optimizeSpeed;
    text-size-adjust: 100%;
    background-color: #fff;
    font-family: "Pretendard-Regular";
}
div.first_line {
    margin-top: 10px;
    border-top: 2px solid #dee2e6;
}
/* main 시작 */
main.mypage_main {
    display: flex;
    width: 1147px;
    margin: 0 auto;
}
div.navi_wrapper {
    width: 18%;
    box-sizing: border-box;
}
ul.show_navi_detail {
    padding-top: 24px;
    list-style: none;
}
a {
    text-decoration: none;
    color: rgb(33, 37, 42);
}
ul.show_navi_detail li {
    box-sizing: border-box;
    width: 180px;
    height: 40px;
    line-height: 40px;
    border-radius: 6px;
    padding-left: 12px;
    font-size: 15px;
}
/* 선택 section 마다 section의 li 의 스타일이 날라진다 */
li.section5 {
    background-color: #f2f4f6;
    font-weight: 1000;
    color: #000a12;
}

/* mypage 내용  */

/* mypage tilte */
div.mypage_detail {
    box-sizing: border-box;
    width: 80%;
    border-left: 2px solid #dee2e6;
    padding-left: 24px;
    padding-top: 30px;
    height: 1080px;
}
div.mypage_title {
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 1000;
    margin-bottom: 32px;
}

/* mypage 내용 */
div.account_information_wrapper {
    border-radius: 6px;
    border: 2px solid #dee2e6;
}
div.account_detail_container {
    box-sizing: border-box;
    display: flex;
    height: 55.98px;
    padding: 16px 20px;
}
div.information_title {
    width: 100px;
    margin: 0 32px 0 0;
    color: #878e98;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    font-weight: 500;
}
div.information_content {
    width: 400px;
    color: #21252a;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    font-weight: 500;
}
button.change_information {
    cursor: pointer;
    font: inherit;
    border-radius: 6px;
    font-size: 15px;
    padding: 2px;
    background-color: #fff;
    border: none;
}

div.secession_mesage {
    margin-top: 6px;
    text-align: right;
    color: #878e98;
    font-size: 13px;
}
span.change_style {
    color: #0084f4;
}
/* 비밀번호 변경 모달창 스타일 */
div.change_password_title_container {
    box-sizing: border-box;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 2px solid #dee2e6;
}
div.password_change_title {
    width: 90%;
    font-size: 26px;
}
div.close_password_modal {
    font-size: 15px;
    cursor: pointer;
    color: #0084f4;
}

div.input_form {
    box-sizing: border-box;
    margin-top: 20px;
}
div.input_form div {
    margin-bottom: 5px;
}
div.input_form input {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #dee2e6;
}
div.input_form input :focus {
    outline: 2px solid #0084f4;
}
.change_password_modal_button {
    font: inherit;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: #0084f4;
    color: #fff;
}

/* 비밀번호 변경 모달  창 띄우기*/
div.password_change_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.password_change_modal .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.password_change_wrapper {
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: fit-content;
    padding: 15px;
    padding-bottom: 30px;
    border-radius: 6px;
    padding-top: 25px;
}
div.password_change_hidden {
    display: none;
}
