@charset "UTF-8";
@import "reset.css";
@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
body {
    color: #000a12;
    text-rendering: optimizeSpeed;
    text-size-adjust: 100%;
    background-color: #fff;
    font-family: "Pretendard-Regular";
}
div.first_line {
    margin-top: 10px;
    border-top: 2px solid #dee2e6;
}
/* main 시작 */
main.mypage_main {
    display: flex;
    width: 1147px;
    margin: 0 auto;
}
div.navi_wrapper {
    width: 18%;
    box-sizing: border-box;
}
ul.show_navi_detail {
    padding-top: 24px;
    list-style: none;
}
a {
    text-decoration: none;
    color: rgb(33, 37, 42);
}
ul.show_navi_detail li {
    box-sizing: border-box;
    width: 180px;
    height: 40px;
    line-height: 40px;
    border-radius: 6px;
    padding-left: 12px;
    font-size: 15px;
}
/* 선택 section 마다 section의 li 의 스타일이 날라진다 */
li.section1 {
    background-color: #f2f4f6;
    font-weight: 1000;
    color: #000a12;
}

/* mypage 내용  */

/* mypage tilte */
div.mypage_detail {
    box-sizing: border-box;
    width: 80%;
    border-left: 2px solid #dee2e6;
    padding-left: 24px;
    padding-top: 30px;
}
div.mypage_title {
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 1000;
    margin-bottom: 32px;
}

/* mypage part 0 주별 강의 시간표 */
div.mypage_part0_title_container {
    display: flex;
    margin-bottom: 12px;
}
div.mypage_part0_title {
    width: 400px;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    font-weight: bold;
    white-space: pre-line;
    word-break: break-all;
}
button.show_detail_part0 {
    text-align: right;
    width: 200px;
    border: none;
    background-color: #fff;
    margin-left: 74.3%;
    font: inherit;
    cursor: pointer;
}
div.mypage_part0_detail {
    box-sizing: border-box;
    border: 2px solid #dee2e6;
    border-radius: 6px;
    width: 100%;
    height: 200px;
    text-align: center;
}
div.show_year_week {
    text-align: right;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-right: 12px;
}
div.show_day_container {
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 15px;
}
div.day {
    border: 2px solid #dee2e6;
    border-radius: 20px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    color: #dee2e6;
}
/* 날짜에 따라 표시가 달라지는 것 표시 */
div.sunday {
    border: 2px solid #535961;
    color: #000a12;
}
/* 강의가 없을 때의 메세지 표현 */
div.no_comment_mesage {
    margin-top: 20px;
    font-size: 14px;
    color: #878e98;
}

/* mypage detail part1 */
div.section_style {
    padding-bottom: 30px;
}
div.mypage_part1_title_container {
    display: flex;
    margin-bottom: 12px;
}
div.mypage_part1_title {
    width: 400px;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    font-weight: bold;
    white-space: pre-line;
    word-break: break-all;
}
button.show_detail_part1 {
    text-align: right;
    width: 200px;
    border: none;
    background-color: #fff;
    margin-left: 74.3%;
    font: inherit;
    cursor: pointer;
}
div.mypage_part1_detail {
    box-sizing: border-box;
    border: 2px solid #dee2e6;
    border-radius: 6px;
    text-align: center;
    padding: 35px;
    font-size: 14px;
    color: #878e98;
}
div.go_to_apply button {
    background-color: #e9fbf8;
    color: #00ccaa;
    font: inherit;
    pad: 11px 14px;
    font-size: 15px;
    margin-top: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    width: 140px;
    height: 42px;
}

/* mypage part2 강의현황 */
div.mypage_part2_title_container {
    display: flex;
    margin-bottom: 12px;
}
div.mypage_part2_title {
    width: 400px;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    font-weight: bold;
    white-space: pre-line;
    word-break: break-all;
}
button.show_detail_part2 {
    text-align: right;
    width: 200px;
    border: none;
    background-color: #fff;
    margin-left: 74.3%;
    font: inherit;
    cursor: pointer;
}
div.mypage_part2_detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
}
div.show_box {
    padding: 20px 16px;
    border: 2px solid #dee2e6;
    border-radius: 6px;
    cursor: pointer;
}
div.show_box :nth-child(1) {
    font-size: 16px;
    color: #535961;
    margin-bottom: 22px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    font-weight: 500;
}
div.show_box :nth-child(2) {
    font-size: 40px;
    color: #535961;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: -0.3px;
}
div.show_box:hover {
    background-image: linear-gradient(70deg, #2af598 0%, #009efd 100%);
    color: #fff;
}

/* mypage part3 후기 */
div.mypage_part3_title_container {
    display: flex;
    margin-bottom: 12px;
}
div.mypage_part3_title {
    width: 400px;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    font-weight: bold;
    white-space: pre-line;
    word-break: break-all;
}
button.show_detail_part3 {
    text-align: right;
    width: 200px;
    border: none;
    background-color: #fff;
    margin-left: 74.3%;
    font: inherit;
    cursor: pointer;
}
div.mypage_part3_detail {
    box-sizing: border-box;
    border: 2px solid #dee2e6;
    border-radius: 6px;
    width: 100%;
    height: 200px;
    text-align: center;
}
div.no_comment_mesage {
    margin-top: 20px;
    font-size: 14px;
    color: #878e98;
}

div.comment_mesage {
    margin-top: 20px;
    font-size: 14px;
    color: #878e98;
}

span.comment_list_title {
    display: inline-block;
    text-align: left;
    width: 450px;
}

span.comment_list_writer {
    display: inline-block;
    text-align: left;
    width: 200px;
}

span.comment_list_date {
    display: inline-block;
    text-align: left;
    width: 150px;
}

span.comment_title {
    display: inline-block;
    text-align: left;
    width: 450px;
    color: #1e1e1e;
}

span.comment_writer {
    display: inline-block;
    text-align: left;
    width: 200px;
    color: #1e1e1e;
}

span.comment_date {
    display: inline-block;
    text-align: left;
    width: 150px;
    color: #1e1e1e;
}