<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Board</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/fixed/header2.css" />
    <link rel="stylesheet" href="/css/fixed/footer.css" />
    <link rel="stylesheet" href="/css/teacherMypage/applyLecture.css" />
    <style>
        .uploadResult ul, .thumbResult ul {
            display: flex;
            list-style: none;
        }

        .uploadResult ul li, .thumbResult ul li {
            position: relative;
        }

        .uploadResult ul li span, .thumbResult ul li span {
            display: block;
            position: absolute;
            right: 10px;
            top: -25px;
            cursor: pointer;
            font-weight: bold;
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
<header th:replace="/fixed/header2.html :: body"></header>

<!-- ----------
        강의 등록 페이지
    -------------->
<main class="lecture-register">
    <div class="lecture-register-wrapper">
        <div class="lectuer-register-container">
            <!-- 강의 등록 페이지 title -->
            <div class="register-title-container">
                <div class="register-title">강의 등록</div>
            </div>

            <form method="post" id="applyForm" th:object="${apply}" enctype="multipart/form-data" class="lecture-input-form">
                <!-- -----------
                    tab-2 시작 th:action="@{/teacherMypage/apply}"
                  ------------->
                <div class="tab-2-wrapper">
                    <div class="tab-2-container">
                        <!-- tab-2 title -->
                        <div class="tab-title-container">
                            <div class="first-title">강의는 이런 내용 입니다!</div>
                            <div class="second-title">강의 정보</div>
                        </div>

                        <!-- 유의사항 메세지 -->
                        <div class="notice-message-container">
                            <div class="notice-message">필수사항 입니다!! 꼭 입력해 주세요!</div>
                        </div>

                        <!-- 강의 제목 -->
                        <div class="lecture-title-input-container">
                            <div class="input-title">강의 제목</div>
                            <input th:field="*{lectureTitle}" type="text" class="type2" placeholder="강의 제목" />
                        </div>

                        <!-- 강의 카테고리 -->
                        <div class="lecture-category-input-container">
                            <div class="input-title">카테고리</div>
                            <select th:field="*{lectureCategory}" name="lecture-category">
                                <option value="언어">언어</option>
                                <option value="IT">IT</option>
                                <option value="체육">체육</option>
                                <option value="수학">수학</option>
                                <option value="과학">과학</option>
                                <option value="기타">기타</option>
                            </select>
                        </div>

                        <!-- 수강 인원 -->
                        <div class="lecture-title-input-container">
                            <div class="input-title">수강 인원</div>
                            <input th:field="*{lectureMaximumNumber}" type="number" class="type2" placeholder="수강 인원 (숫자만 입력해주세요.)" />
                        </div>

                        <!-- 강의 상세 내용 -->
                        <div class="lecture-detail-input-container">
                            <div class="input-title">강의 상세 내용</div>
                            <textarea th:field="*{lectureContent}" cols="100" rows="10"> </textarea>
                        </div>

                        <!-- 강의 썸네일 img 파일 등록 -->
                        <div class="lecture-detail-img-input-container field">
                            <div class="input-title">강의 썸네일</div>
                            <input type="file" class="thumbnail-img-file" id="thumbnail-img-file" name="thumbUpload" multiple/>
<!--                            <input type="file" id="detail-img-file" />-->
<!--                            <label for="detail-img-file">-->
<!--                                <div class="file-upload">파일 업로드 하기</div>-->
<!--                            </label>-->
                        </div>
                        <div class="field" style="padding-bottom: 30px;">
                            <div class="thumbResult">
                                <ul></ul>
                            </div>
                        </div>

                        <!-- 강의 상세 img 파일 등록 -->
                        <div class="lecture-thumbnail-img-input-container field">
                            <div class="input-title">강의 상세 내용</div>
                            <input type="file" class="detail-img-file" id="detail-img-file" name="upload" multiple/>
<!--                            <input type="file" id="thumbnail-img-file" />-->
<!--                            <label for="thumbnail-img-file">-->
<!--                                <div class="file-upload">파일 업로드 하기</div>-->
<!--                            </label>-->
                        </div>
                        <div class="field" style="padding-bottom: 30px;">
                            <div class="uploadResult">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-3-wrapper">
                    <div class="tab-3-container">
                        <!-- tab-3 title -->
                        <div class="tab-title-container">
                            <div class="first-title">강의는 이 곳에서 진행 됩니다!</div>
                            <div class="second-title">강의 장소 및 시간</div>
                        </div>

                        <!-- 유의사항 메세지 -->
                        <div class="notice-message-container">
                            <div class="notice-message">원하는 강의장과 시간을 선택해주세요!</div>
                        </div>

                        <!-- 강의 날짜 입력 -->
                        <div class="lecture-date-input-container">
                            <div class="input-title">강의 날짜</div>
                            <input th:field="*{lectureDate}" type="date" class="type2" />
                        </div>

                        <!-- 강의 장소 선택 -->
                        <div class="lecture-place-input-container">
                            <div class="input-title">강의 장소</div>
                            <select th:field="*{lecturePlace}" class="lecture-place-list" name="lecture-place-list">
<!--                                <th:block th:each="place:${places}" th:object="${place}">-->
<!--                                        <option th:value="*{placeName}" th:text="*{placeName}"></option>-->
<!--                                </th:block>-->
                                <option value="뫼비우스문화센터 5F A강연장">뫼비우스문화센터 5F A강연장</option>
                                <option value="뫼비우스문화센터 5F B강연장">뫼비우스문화센터 5F B강연장</option>
                                <option value="뫼비우스문화센터 5F C강연장">뫼비우스문화센터 5F C강연장</option>
                                <option value="뫼비우스문화센터 5F D강연장">뫼비우스문화센터 5F D강연장</option>
                                <option value="뫼비우스문화센터 5F E강연장">뫼비우스문화센터 5F E강연장</option>
                                <option value="뫼비우스문화센터 5F F강연장">뫼비우스문화센터 5F F강연장</option>
                            </select>
                        </div>

                        <!-- 강의 시간 입력 -->
                        <div class="lecture-time-input-container">
                            <div class="input-title">강의 시간</div>
                            <select th:field="*{lectureTime}" name="lecture-time-list">
                                <option value="Time A (9:00~12:00)">Time A (9:00~12:00)</option>
                                <option value="Time B (13:00~17:00)">Time B (13:00~17:00)</option>
                                <option value="Time C (19:00~22:00)">Time C (19:00~22:00)</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="button-wrapper">
                    <div class="button-container">
                        <input type="submit" class="temporary-storage-btn" value="임시저장" onclick="javascript: form.action='/teacherMypage/temporary';"/>
                        <input th:action="@{/teacherMypage/apply}" type="submit" class="submit-btn" value="제출하기" th:field="*{lectureStatus}"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<footer th:replace="/fixed/footer.html :: #footer"></footer>
</body>
<script src="/js/basic/jquery.min.js"></script>
<script src="/js/basic/jquery.dropotron.min.js"></script>
<script src="/js/basic/browser.min.js"></script>
<script src="/js/basic/breakpoints.min.js"></script>
<script src="/js/basic/util.js"></script>
<script src="/js/basic/main.js"></script>
<script th:inline="javascript">
    let arrayFile = [];
    let teacherNumber = [[${lectureNumber}]];

    $("input[type='file'].detail-img-file").on('change', function(){
        let formData = new FormData();
        let files = this.files;

        $(files).each(function(i, file){
            formData.append("upload", file);
        });
        console.log("파일1");
        $.ajax({
            url: "/lectureFile/upload",
            type: "post",
            data: formData,
            contentType: false,
            processData: false,
            success: showUploadResult
        })
        console.log("파일2");
    });

    function showUploadResult(files){
        let text = "";
        $(files).each(function(i, file){
            text += `<li data-file-size="` + file.lectureFileSize + `" data-file-name="` + file.lectureFileName + `" data-file-upload-path="` + file.lectureFileUploadPath + `" data-file-uuid="` + file.lectureFileUuid + `" data-file-image-check="` + file.lectureFileCheck + `">`;
            text += `<span>X</span>`;
            if(!file.lectureFileCheck){
                text += `<img src="/img/attach.png" width="100">`;
            }else{
                text += `<img src="/lectureFile/display?lectureFileName=` + file.lectureFileUploadPath + `/s_` + file.lectureFileUuid + "_" + file.lectureFileName + `">`;
            }
            text += `<p>` + file.lectureFileName +`(` + parseInt(file.lectureFileSize / 1024) + `KB)</p>`
            text += `</li>`;
        });
        $(".uploadResult ul").append(text);
    }

    $(".uploadResult ul").on("click", "span", function(){
        const $li = $(this).closest("li");
        let i = $(".uploadResult ul span").index($(this));
        let lectureFileUploadPath = $li.data("file-upload-path");
        let lectureFileName = $li.data("file-uuid") + "_" + $li.data("file-name");
        let lectureFileCheck = $li.data("file-image-check");

        $.ajax({
            url: "/lectureFile/delete",
            type: "post",
            data: {lectureFileUploadPath: lectureFileUploadPath, lectureFileName: lectureFileName, lectureFileCheck: lectureFileCheck},
            success: function(){
                $li.remove();
                arrayFile.splice(i, 1);
                const dataTransfer = new DataTransfer();
                arrayFile.forEach(file => dataTransfer.items.add(file));
                $("input[name='upload']")[0].files = dataTransfer.files;
            }
        });
    });

    $("input[type='submit']").on("click", function(e){
        e.preventDefault();
        teacherNumber = 2;
        let text = "";
        $.each($(".uploadResult ul li"), function(i, li){
            let lectureFileName = $(li).data("file-name");
            let lectureFileUploadPath = $(li).data("file-upload-path");
            let lectureFileUuid = $(li).data("file-uuid");
            let lectureFileSize = $(li).data("file-size");
            let lectureFileCheck = $(li).data("file-image-check");
            text += `<input type="hidden" name="files[` + i + `].lectureFileName" value="` + lectureFileName + `">`;
            text += `<input type="hidden" name="files[` + i + `].lectureFileUploadPath" value="` + lectureFileUploadPath + `">`;
            text += `<input type="hidden" name="files[` + i + `].lectureFileUuid" value="` + lectureFileUuid + `">`;
            text += `<input type="hidden" name="files[` + i + `].lectureFileSize" value="` + lectureFileSize + `">`;
            text += `<input type="hidden" name="files[` + i + `].lectureFileCheck" value="` + lectureFileCheck + `">`;
        });
        $("form#applyForm").append(text).submit();
    });



    //썸네일
    $("input[type='file'].thumbnail-img-file").on('change', function(){
        let formData = new FormData();
        let files = this.files;

        $(files).each(function(i, file){
            formData.append("thumbUpload", file);
        });
        console.log("썸네일1");
        $.ajax({
            url: "/lectureThumb/upload",
            type: "post",
            data: formData,
            contentType: false,
            processData: false,
            success: showUploadThumb
        })
    });

    function showUploadThumb(files){
        let text = "";
        $(files).each(function(i, file){
            text += `<li data-file-size="` + file.lectureThumbnailSize + `" data-file-name="` + file.lectureThumbnailName + `" data-file-upload-path="` + file.lectureThumbnailUploadPath + `" data-file-uuid="` + file.lectureThumbnailUuid + `" data-file-image-check="` + file.lectureThumbnailCheck + `">`;
            text += `<span>X</span>`;
            if(!file.lectureThumbnailCheck){
                text += `<img src="/img/attach.png" width="100">`;
            }else{
                text += `<img src="/lectureThumb/display?lectureThumbnailName=` + file.lectureThumbnailUploadPath + `/s_` + file.lectureThumbnailUuid + "_" + file.lectureThumbnailName + `">`;
            }
            text += `<p>` + file.lectureThumbnailName +`(` + parseInt(file.lectureThumbnailSize / 1024) + `KB)</p>`
            text += `</li>`;
        });
        $(".thumbResult ul").append(text);
    }

    $(".thumbResult ul").on("click", "span", function(){
        const $li = $(this).closest("li");
        let i = $(".thumbResult ul span").index($(this));
        let lectureThumbnailUploadPath = $li.data("file-upload-path");
        let lectureThumbnailName = $li.data("file-uuid") + "_" + $li.data("file-name");
        let lectureThumbnailCheck = $li.data("file-image-check");

        $.ajax({
            url: "/lectureThumb/delete",
            type: "post",
            data: {lectureThumbnailUploadPath: lectureThumbnailUploadPath, lectureThumbnailName: lectureThumbnailName, lectureThumbnailCheck: lectureThumbnailCheck},
            success: function(){
                $li.remove();
                arrayFile.splice(i, 1);
                const dataTransfer = new DataTransfer();
                arrayFile.forEach(file => dataTransfer.items.add(file));
                $("input[name='thumbUpload']")[0].files = dataTransfer.files;
            }
        });
    });

    $("input[type='submit']").on("click", function(e){
        e.preventDefault();
        teacherNumber = 2;
        let text = "";
        $.each($(".thumbResult ul li"), function(i, li){
            let lectureThumbnailName = $(li).data("file-name");
            let lectureThumbnailUploadPath = $(li).data("file-upload-path");
            let lectureThumbnailUuid = $(li).data("file-uuid");
            let lectureThumbnailSize = $(li).data("file-size");
            let lectureThumbnailCheck = $(li).data("file-image-check");
            text += `<input type="hidden" name="thumbs[` + i + `].lectureThumbnailName" value="` + lectureThumbnailName + `">`;
            text += `<input type="hidden" name="thumbs[` + i + `].lectureThumbnailUploadPath" value="` + lectureThumbnailUploadPath + `">`;
            text += `<input type="hidden" name="thumbs[` + i + `].lectureThumbnailUuid" value="` + lectureThumbnailUuid + `">`;
            text += `<input type="hidden" name="thumbs[` + i + `].lectureThumbnailSize" value="` + lectureThumbnailSize + `">`;
            text += `<input type="hidden" name="thumbs[` + i + `].lectureThumbnailCheck" value="` + lectureThumbnailCheck + `">`;
        });
        $("form#applyForm").append(text).submit();
    });


</script>
</html>