<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://webfontworld.github.io/pretendard/Pretendard.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/lectureBoard/board.css">
</head>
<body>
<header th:replace="/fixed/header2.html" :: body></header>
    <section class="board">
        <div class="container">
            <div class="board_main">
                <div class="board_title">
                <h1>강의제목</h1>
                </div>
                <div class="board_header">
                    <h3>공지사항</h3>
                    <div class="board_search">
                    </div>
                </div>
                <table>
                    <tbody>
                        <tr class="title">
                            <th class="board_num">No</th>
                            <th class="board_title">제목</th>
                            <th class="board_writer">글쓴이</th>
                            <th class="board_day">작성날짜</th>
                        </tr>
                        <th:block th:each="notice:${notices}">
                        <tr th:object="${notice}">
                            <td class="board_num" th:text="*{lectureNoticeNumber}"></td>
                            <td class="board_title">
                                <a claas="goDetail" style="cursor: pointer;" onclick="goToDetail" th:href="@{/lecture/boardDetail(lectureNoticeNumber=*{lectureNoticeNumber})}" th:text="*{lectureNoticeTitle}"></a>
                            </td>
                            <td class="board_writer">이종호</td>
                            <td class="board_day" th:text="*{#strings.substring(lectureNoticeDate, 0, 10)}"></td>
                        </tr>
                        </th:block>
                    </tbody>
                </table>
                <div class="board_btn">
                    <button class="writeButton" th:href="@{/lecture/boardWrite}" value="글쓰기">글쓰기</button>
                </div>

                <div th:object="${pagination}" style="margin-top: 40px; margin-right: 100px; font-weight: bold; font-size: 16px;">
                    <div style="text-align: center;">
                        <a class="changePage" th:href="*{startPage - 1}" th:if="*{prev}"><code><</code></a>
                        <th:block th:each="page:${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                            <a class="changePage" th:href="${page}" th:if="${pagination.criteria.page != page}"><code th:text="${page}"></code></a>
                            <code th:unless="${pagination.criteria.page != page}" th:text="${page}"></code>
                        </th:block>
                        <a class="changePage" th:href="*{endPage + 1}" th:if="*{next}"><code>></code></a>
                    </div>
                    <form th:action="@{/lecture/list}" th:object="${criteria}" name="pageForm">
                        <input type="hidden" th:field="*{page}">
                        <input type="hidden" th:field="*{amount}">
                    </form>
                </div>
            </div>
        </div>
    </section>

</body>
<script src="/js/basic/jquery.min.js"></script>
<script src="/js/basic/jquery.dropotron.min.js"></script>
<script src="/js/basic/browser.min.js"></script>
<script src="/js/basic/breakpoints.min.js"></script>
<script src="/js/basic/util.js"></script>
<script src="/js/basic/main.js"></script>
<script th:inline="javascript">
    let lectureNumber = [[${lecture.lectureNumber}]];
    let lectureNoticeNumber = [[${lectureNoticeNumber}]];
    let $pages = $("a.changePage");
    let queryString = [[${pagination.criteria.queryString}]];
    const $goDetail = $("a.goDetail");

    let $goWrite = $("button.writeButton");

    $pages.on("click", function(e){
        e.preventDefault();
        $(document.pageForm.page).val($(this).attr("href"));
        document.pageForm.submit();
    });

    $goDetail.on("click", function(e){
        e.preventDefault();
        location.href = "/lecture/detail" + queryString + "&lectureNumber=" + $(this).attr("href");
    });

    $goWrite.on("click", function(e){
       e.preventDefault();
       location.href = "/lecture/boardWrite";
    });
</script>
</html>