<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>강좌게시판</title>
    <link rel="stylesheet" href="/css/lectureDetail/lectureDetail.css">

  </head>
  <body>
  <header th:replace="/fixed/header2.html" :: body></header>
    <div id="root">
      <main id="main">
        <section id="section">
          <div class="banner">
            <div class="container">
              <div class="banner_img">
                <img style="width: 440px; height: 286px" src="https://cdn.inflearn.com/public/courses/326674/cover/4657d793-56a4-42f3-9d44-dc88d125a49e" />
              </div>
              <div class="explanation">
                <div class="programing"><span class="box">Best</span> 개발·프로그래밍 > 백엔드</div>
                <div class="a" style="font-size: 26px; position: relative; bottom: -15px">스프링 MVC 1편 - 백엔드 웹 개발 핵심 기술</div>
                <div style="position: relative; bottom: -90px">1242개의 수강평 · 12746명의 수강생</div>
                <a style="color: white; position: relative; bottom: -95px" href="">김영한</a>
                <div style="font-size: 17px; color: white; position: relative; bottom: -100px">
                  #
                  <a class="a_tag" href="">MVC</a>
                  <a class="a_tag" href="">Spring</a>
                </div>
              </div>
            </div>
          </div>
          <div class="menu">
            <div class="container">
              <div class="classTitle">
                <span class="span1">
                  <a href="">강의소개</a>
                </span>
                <span class="span2">
                  <a href="">수강평</a>
                </span>
                <span class="span3">
                  <a href="">수강전 문의</a>
                </span>
                <span class="span4">
                  <a href="">커뮤니티</a>
                </span>
              </div>
            </div>
          </div>
          <section class="classContent">
            <div class="container">
              <div class="class_content">
                <div class="classInfo">
                  <img src="img/classInfo.png" />
                </div>
                <div class="infoBtn">
                  <div class="class_btn">
                    <button class="req_btn" value="강의신청하기">강의신청하기</button>
                    <button class="inquiry_btn" value="문의하기">1 대 1 문의</button>
                  </div>
                  <div class="classInfo2">
                    <div class="">
                      <span>지식공유자: </span>
                      <a href="" id="">한동석</a>
                    </div>
                    <div class="">
                      <span>강의장 정보: </span>
                      <a href="" id="">뫼비우스문화센터 5F</a>
                    </div>
                    <div class="">
                      <span>수강기한: </span>
                      <a href="" id="">2022-12-31</a>
                    </div>
                    <div class="">
                      <span>난이도:</span>
                      <a href="" id="">입문</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- <div class="board_content">
                    <div class="bd_content">
                        <div class="content_body">
                            <div class="content_main">
                                <div class="question">
                                    <div class="title">
                                        <div class="item">
                                            <input class="input" value type="text" spellcheck="false" size="large">
                                        </div>
                                    </div>
                                    <div class="main">
                                        <ul class="question_list">
                                            <li class="question_conta1ner">
                                                <div class="qst_detail">
                                                    <div class="qst_left">
                                                        <h3>질문있습니다</h3>
                                                    </div>
                                                    <p>
                                                        질문을 해도 될까요?
                                                        dkdkdkdididusnksadjfmasfilaskdmsakkd
                                                        askdmaldkmaskdsidskadmlakdmskdisadmkas
                                                        dkdkdkdididusnksadjfmasfilaskdmsakkd
                                                        askdmaldkmaskdsidskadmlakdmskdisadmkas
                                                        dkdkdkdididusnksadjfmasfilaskdmsakkd
                                                        askdmaldkmaskdsidskadmlakdmskdisadmkas
                                                    </p>
                                                    <div class="qst_tag"></div>
                                                    <div class="qst_footer">
                                                        <span class="user_name">김동근</span>
                                                        <span class="nbsp">&nbsp;·&nbsp;</span>
                                                        <span class="time">12시간 전</span>
                                                        <span class="nbsp">&nbsp;·&nbsp;</span>
                                                        <span class="name">스프링 MVC 1편 - 백엔드 웹개발 기술</span>
                                                    </div>
                                                    <div class="qst_right">
                                                        <div>
                                                            <span class="count">1</span>
                                                            <span class="description">답변</span>
                                                        </div>
                                                        <button class="button">
                                                            <img style="width: 16px; height: 16px; " src="heart.png">
                                                            0
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="question_conta1ner"></li>
                                            <li class="question_conta1ner"></li>
                                            <li class="question_conta1ner"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
        </section>
      </main>
      
    </div>
  </body>
</html>
