<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mobius.education.mapper.LectureMapper">
    <select id="selectAll" resultType="lectureDTO">
        SELECT LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_APPLY_NUMBER, LECTURE_MAXIMUM_NUMBER, LECTURE_TIME, LECTURE_PLACE, LECTURE_STATUS, TEACHER_NUMBER
        FROM
        (
            SELECT ROWNUM R, LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_APPLY_NUMBER, LECTURE_MAXIMUM_NUMBER, LECTURE_TIME, LECTURE_PLACE, LECTURE_STATUS, TEACHER_NUMBER
            FROM
            (
                SELECT LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_APPLY_NUMBER, LECTURE_MAXIMUM_NUMBER, LECTURE_TIME, LECTURE_PLACE, LECTURE_STATUS, TEACHER_NUMBER
                FROM TBL_LECTURE L
                WHERE LECTURE_STATUS NOT IN ('임시저장')
                ORDER BY LECTURE_NUMBER DESC
            ) D2
        <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount}
        ) WHERE R > (#{page} - 1) * #{amount}
        ]]>
    </select>

    <select id="getTotal" resultType="_int">
        SELECT COUNT(LECTURE_NUMBER) FROM TBL_LECTURE
    </select>

    <insert id="insert">
        <selectKey keyProperty="lectureNumber" order="BEFORE" resultType="long">
            SELECT SEQ_LECTURE.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_LECTURE(LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_MAXIMUM_NUMBER, LECTURE_TIME, LECTURE_PLACE,LECTURE_STATUS, PLACE_NUMBER, TEACHER_NUMBER)
        VALUES (#{lectureNumber}, #{lectureTitle}, #{lectureCategory}, #{lectureContent}, #{lectureDate}, #{lectureMaximumNumber}, #{lectureTime}, #{lecturePlace}, #{lectureStatus}, #{placeNumber}, #{teacherNumber})
    </insert>

    <delete id="delete">
        DELETE FROM TBL_LECTURE
        WHERE LECTURE_NUMBER = #{lectureNumber}
    </delete>

    <update id="update">
        UPDATE TBL_LECTURE
        SET LECTURE_TITLE = #{lectureTitle}, LECTURE_CATEGORY = #{lectureCategory}, LECTURE_CONTENT = #{lectureContent}, LECTURE_DATE = #{lectureDate},  LECTURE_MAXIMUM_NUMBER = #{lectureMaximumNumber},  LECTURE_TIME = #{lectureTime},  LECTURE_PLACE = #{lecturePlace}, LECTURE_STATUS = #{lectureStatus}, PLACE_NUMBER = #{placeNumber}
        WHERE LECTURE_NUMBER = #{lectureNumber}
    </update>

    <select id="select" resultType="lectureVO">
        SELECT LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_APPLY_NUMBER, LECTURE_MAXIMUM_NUMBER, LECTURE_TIME, LECTURE_PLACE, LECTURE_STATUS, PLACE_NUMBER
        FROM TBL_LECTURE
        WHERE LECTURE_NUMBER = #{lectureNumber}
    </select>

    <select id="finishedSelectAll" resultType="lectureVO">

        SELECT LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_APPLY_NUMBER, LECTURE_MAXIMUM_NUMBER, LECTURE_TIME, LECTURE_PLACE, LECTURE_STATUS
        FROM
        (
            SELECT ROWNUM R, LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_APPLY_NUMBER, LECTURE_MAXIMUM_NUMBER, LECTURE_TIME, LECTURE_PLACE, LECTURE_STATUS
            FROM
            (
                SELECT LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_APPLY_NUMBER, LECTURE_MAXIMUM_NUMBER, LECTURE_TIME, LECTURE_PLACE, LECTURE_STATUS
                FROM TBL_LECTURE L
                WHERE LECTURE_STATUS = '진행완료' AND L.TEACHER_NUMBER = #{teacherNumber}
                ORDER BY LECTURE_NUMBER DESC
            ) D2
        <![CDATA[
        WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
        ) WHERE R > (#{criteria.page} - 1) * #{criteria.amount}
        ]]>
    </select>

    <select id="finishedGetTotal" resultType="_int">
        SELECT COUNT(LECTURE_NUMBER) FROM TBL_LECTURE
        WHERE LECTURE_STATUS = '진행완료' AND TEACHER_NUMBER = #{teacherNumber}
    </select>

    <select id="ongoingSelectAll" resultType="lectureVO">
        SELECT LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_APPLY_NUMBER, LECTURE_MAXIMUM_NUMBER, LECTURE_TIME, LECTURE_PLACE, LECTURE_STATUS, TEACHER_NUMBER
        FROM
        (
            SELECT ROWNUM R, LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_APPLY_NUMBER, LECTURE_MAXIMUM_NUMBER, LECTURE_TIME, LECTURE_PLACE, LECTURE_STATUS, TEACHER_NUMBER
            FROM
            (
                SELECT LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_APPLY_NUMBER, LECTURE_MAXIMUM_NUMBER, LECTURE_TIME, LECTURE_PLACE, LECTURE_STATUS, TEACHER_NUMBER
                FROM TBL_LECTURE L
                WHERE LECTURE_STATUS = '진행중' AND L.TEACHER_NUMBER = #{teacherNumber}
                ORDER BY LECTURE_NUMBER DESC
            ) D2
        <![CDATA[
        WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
        ) WHERE R > (#{criteria.page} - 1) * #{criteria.amount}
        ]]>
    </select>

    <select id="ongoingGetTotal" resultType="_int">
        SELECT COUNT(LECTURE_NUMBER) FROM TBL_LECTURE
        WHERE LECTURE_STATUS = '진행중' AND TEACHER_NUMBER = #{teacherNumber}
    </select>

    <select id="expectedSelectAll" resultType="lectureVO">
        SELECT LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_APPLY_NUMBER, LECTURE_MAXIMUM_NUMBER, LECTURE_TIME, LECTURE_PLACE, LECTURE_STATUS, TEACHER_NUMBER
        FROM
        (
            SELECT ROWNUM R, LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_APPLY_NUMBER, LECTURE_MAXIMUM_NUMBER, LECTURE_TIME, LECTURE_PLACE, LECTURE_STATUS, TEACHER_NUMBER
            FROM
            (
                SELECT LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_APPLY_NUMBER, LECTURE_MAXIMUM_NUMBER, LECTURE_TIME, LECTURE_PLACE, LECTURE_STATUS, TEACHER_NUMBER
                FROM TBL_LECTURE L
                WHERE LECTURE_STATUS = '진행예정' AND L.TEACHER_NUMBER = #{teacherNumber}
                ORDER BY LECTURE_NUMBER DESC
            ) D2
        <![CDATA[
        WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
        ) WHERE R > (#{criteria.page} - 1) * #{criteria.amount}
        ]]>
    </select>

    <select id="expectedGetTotal" resultType="_int">
        SELECT COUNT(LECTURE_NUMBER) FROM TBL_LECTURE
        WHERE LECTURE_STATUS = '진행예정' AND TEACHER_NUMBER = #{teacherNumber}
    </select>

    <select id="temporarySelectAll" resultType="lectureVO">
        SELECT LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_APPLY_NUMBER, LECTURE_MAXIMUM_NUMBER, LECTURE_TIME, LECTURE_PLACE, LECTURE_STATUS, TEACHER_NUMBER
        FROM
        (
            SELECT ROWNUM R, LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_APPLY_NUMBER, LECTURE_MAXIMUM_NUMBER, LECTURE_TIME, LECTURE_PLACE, LECTURE_STATUS, TEACHER_NUMBER
            FROM
            (
                SELECT LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_APPLY_NUMBER, LECTURE_MAXIMUM_NUMBER, LECTURE_TIME, LECTURE_PLACE, LECTURE_STATUS, TEACHER_NUMBER
                FROM TBL_LECTURE L
                WHERE LECTURE_STATUS = '임시저장'
                ORDER BY LECTURE_NUMBER DESC
            ) D2
        <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount}
        ) WHERE R > (#{page} - 1) * #{amount}
        ]]>
    </select>

    <select id="temporaryGetTotal" resultType="_int">
        SELECT COUNT(LECTURE_NUMBER) FROM TBL_LECTURE
        WHERE LECTURE_STATUS = '임시저장'
    </select>

    <update id="insertPlace">
        UPDATE TBL_LECTURE
        SET PLACE_NUMBER = #{placeNumber}
        WHERE LECTURE_NUMBER = #{lectureNumber}
    </update>

    <select id="temporaryOne" resultType="lectureVO">
        SELECT LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_APPLY_NUMBER, LECTURE_MAXIMUM_NUMBER, LECTURE_TIME, LECTURE_PLACE, LECTURE_STATUS, TEACHER_NUMBER
        FROM TBL_LECTURE
        WHERE LECTURE_NUMBER IN
            (
                SELECT MAX(LECTURE_NUMBER) FROM TBL_LECTURE
                WHERE LECTURE_STATUS = '임시저장'
            )
    </select>

    <select id="myReviewSelect" resultType="reviewDTO">
        SELECT REVIEW_NUMBER, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_REGISTER_DATE, LECTURE_NUMBER, LECTURE_TITLE, TEACHER_NUMBER
        FROM
        (
        SELECT ROWNUM R, REVIEW_NUMBER, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_REGISTER_DATE, LECTURE_NUMBER, LECTURE_TITLE, TEACHER_NUMBER
        FROM
        (
        SELECT REVIEW_NUMBER, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_REGISTER_DATE, LECTURE_NUMBER, LECTURE_TITLE, TEACHER_NUMBER
        FROM
        (
        SELECT REVIEW_NUMBER, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_REGISTER_DATE, TL.LECTURE_NUMBER, LECTURE_TITLE, TEACHER_NUMBER FROM TBL_REVIEW TR, TBL_LECTURE TL
        WHERE TR.LECTURE_NUMBER = TL.LECTURE_NUMBER AND TL.TEACHER_NUMBER = #{teacherNumber}
        ) B
        ORDER BY REVIEW_NUMBER DESC
        ) D2
        <![CDATA[
        WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
        ) WHERE R > (#{criteria.page} - 1) * #{criteria.amount}
        ]]>
    </select>

    <select id="myReviewGetTotal" resultType="_int">
        SELECT COUNT(REVIEW_NUMBER)
        FROM
        (
        SELECT REVIEW_NUMBER, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_REGISTER_DATE, LECTURE_NUMBER, LECTURE_TITLE, TEACHER_NUMBER
        FROM
        (
        SELECT REVIEW_NUMBER, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_REGISTER_DATE, TL.LECTURE_NUMBER, LECTURE_TITLE, TEACHER_NUMBER FROM TBL_REVIEW TR, TBL_LECTURE TL
        WHERE TR.LECTURE_NUMBER = TL.LECTURE_NUMBER AND TL.TEACHER_NUMBER = #{teacherNumber}
        ) B
        ORDER BY REVIEW_NUMBER DESC
        ) D2
    </select>

    <select id="infoSelect" resultType="teacherVO">
        SELECT TEACHER_EMAIL, TEACHER_PASSWORD, TEACHER_NAME, TEACHER_BELONGING, TEACHER_PHONE_NUMBER
        FROM TBL_TEACHER
        WHERE TEACHER_NUMBER = #{teacherNumber}
    </select>

    <update id="updatePw">
        UPDATE TBL_TEACHER
        SET TEACHER_PASSWORD = #{teacherPassword}
        WHERE TEACHER_NUMBER = #{teacherNumber}
    </update>

    <select id="selectLecDetailAndAll" resultType="LectureVO">
        SELECT LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, TEACHER_NUMBER FROM TBL_LECTURE
        WHERE LECTURE_NUMBER = #{lectureNumber}
    </select>

    <select id="mainpageLectureSelectAll" resultType="lectureVO">
        SELECT LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_MAXIMUM_NUMBER, LECTURE_STATUS
        FROM TBL_LECTURE
    </select>

    <select id="mainDetailSelect" resultType="lectureDTO">
        SELECT LECTURE_NUMBER, LECTURE_TITLE, LECTURE_CATEGORY, LECTURE_CONTENT, LECTURE_DATE, LECTURE_MAXIMUM_NUMBER, LECTURE_STATUS
        FROM TBL_LECTURE
        WHERE LECTURE_NUMBER = #{lectureNumber}
    </select>



</mapper>