<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mobius.education.mapper.PlaceMapper">
    <select id="select" resultType="placeVO">
        SELECT P.* FROM TBL_PLACE P
        WHERE P.PLACE_NUMBER NOT IN
        (
            SELECT PLACE_NUMBER FROM TBL_RESERVE_PLACE
            WHERE (RESERVE_PLACE_DATE IN ('2022-11-28')) AND (RESERVE_PLACE_MORNING IN 1)
        ) OR P.PLACE_NUMBER NOT IN (
            SELECT PLACE_NUMBER FROM TBL_RESERVE_PLACE
            WHERE (RESERVE_PLACE_DATE IN ('2022-11-28')) AND (RESERVE_PLACE_AFTERNOON IN 1)
        ) OR P.PLACE_NUMBER NOT IN (
            SELECT PLACE_NUMBER FROM TBL_RESERVE_PLACE
            WHERE (RESERVE_PLACE_DATE IN ('2022-11-28')) AND (RESERVE_PLACE_DINNER IN 1)
        )
    </select>
</mapper>