<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mobius.education.mapper.ReservePlaceMapper">
    <insert id="insert">
        <selectKey keyProperty="reservePlaceNumber" order="BEFORE" resultType="long">
            SELECT SEQ_RESERVE_PLACE.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_RESERVE_PLACE(RESERVE_PLACE_NUMBER, RESERVE_PLACE_DATE, RESERVE_PLACE_MORNING, RESERVE_PLACE_AFTERNOON, RESERVE_PLACE_DINNER, PLACE_NUMBER)
        VALUES (#{reservePlaceNumber}, #{reservePlaceDate}, #{reservePlaceMorning}, #{reservePlaceAfternoon}, #{reservePlaceDinner}, #{placeNumber})
    </insert>
</mapper>