<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mobius.education.mapper.ReviewMapper">
    <select id="selectUserReviewCount" resultType="int">
        SELECT COUNT(USER_NUMBER) FROM TBL_REVIEW
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <select id="selectAllMyReview" resultType="reviewVO">
        SELECT REVIEW_TITLE , REVIEW_CONTENT , REVIEW_REGISTER_DATE , REVIEW_MODIFY_DATE, LECTURE_NUMBER , USER_NUMBER FROM TBL_REVIEW
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <select id="selectAll" resultType="reviewVO">
        SELECT REVIEW_TITLE , REVIEW_CONTENT , REVIEW_REGISTER_DATE , REVIEW_MODIFY_DATE
        FROM TBL_REVIEW
    </select>

</mapper>