body {
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.myReview {
    padding: 0 16px;
    max-width: 752px;
    max-height: 480px;
    margin: 0 auto;
}
button {
    cursor: pointer;
}
textarea {
    height: 480px;
    width: 95%;
    border-radius: 8px;
    resize: none;
    padding: 20px;
    line-height: 1.5;
}
.reviewTitle {
    margin-bottom: 40px;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 20px;
    margin-top: 40px;
}
.reviewTitle span {
    font-weight: 600;
}
.btn_cancel {
    width: 70px;
    height: 42px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid rgb(206, 212, 218);
    font-size: 16px;
    font-weight: 500;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.btn_input {
    width: 70px;
    height: 42px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid rgb(0, 196, 113);
    background-color: rgb(0, 196, 113);
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    margin-left: 20px;
}
.review_btn {
    float: right;
    margin-top: 10px;
}

/* modal */
.cancel_page {
    border-radius: 16px;
    background: #fff;
    width: 320px;
    height: 160px;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 40%;
}
.cancel_btn {
    text-align: center;
}
button.back_btn {
    padding: 0 22px;
    appearance: none;
    text-align: left;
    text-decoration: none;
    height: 42px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 130px;
    margin-top: 20px;
    background-color: #fff;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
button.out_btn {
    padding: 0 22px;
    appearance: none;
    text-align: left;
    text-decoration: none;
    height: 42px;
    border-radius: 8px;
    border: 1px solid #00c471;
    font-size: 16px;
    text-align: center;
    width: 130px;
    cursor: pointer;
    margin-top: 15px;
    color: #fff;
    margin-left: 10px;
    background-color: #00c471;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}