<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tr="http://www.thymeleaf.org"
      xmlns:div="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://webfontworld.github.io/pretendard/Pretendard.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/lectureBoard/board.css">
</head>
<body>
<header th:replace="/fixed/header2.html" :: body></header>
<section class="board">
    <div class="container">
        <div class="board_main">
            <div class="board_title">
                <h1 th:text="*{lectureName}">강의제목</h1>
            </div>
            <div class="board_header">
                <h3>공지사항</h3>
                <div class="board_search">
                    <form class="search">
                        <div class="search_btn">
                            <input type="search" class="search_w" placeholder="Search">
                            <button type="submit" class="search_b" value="">
                                <img src="img/search2.png">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <table>
                <tr class="title">
                    <th class="board_num">No</th>
                    <th class="board_title">제목</th>
                    <th class="board_writer">상세내용</th>
                    <th class="board_day">작성시간</th>
                </tr>
                <tbody>
                <div:block th:each="lectureNotice:${lectureNotices}">
                    <tr th:object="${lectureNotice}">
                        <td class="board_num lectureNoticeNumber" th:text="*{lectureNoticeNumber}"></td>
                        <td class="board_title lectureNoticeTitle" th:text="*{lectureNoticeTitle}"></td>
                        <td class="board_writer lectureNoticeContent">
                            <a class="read" th:text="*{lectureNoticeContent}" th:href="*{lectureNoticeNumber}"></a>
                        </td>
                        <td class="board_day lectureNoticeDate" th:text="*{lectureNoticeDate}"></td>
                    </tr>
                </div:block>
                </tbody>
            </table>
            <div class="board_btn">
                <button id="#" value="글쓰기">글쓰기</button>
            </div>
        </div>
    </div>
</section>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">


    const $read = $("a.read");

    $read.on("click", function(e){
        e.preventDefault();
        location.href = "/lectureBoard/read" + "?" + "lectureNoticeNumber=" + $(this).attr("href");
    });
</script>
</html>