<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://webfontworld.github.io/pretendard/Pretendard.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/lectureBoard/board.css">
</head>
<body>
<header th:replace="/fixed/header2.html" :: body></header>
    <section class="board">
        <div class="container">
            <div class="board_main">
                <div class="board_title">
                <h1>강의제목</h1>
                </div>
                <div class="board_header">
                    <h3>공지사항</h3>
                    <div class="board_search">
                        <form class="search">
                            <div class="search_btn">
                            <input type="search" class="search_w" placeholder="Search">
                            <button type="submit" class="search_b" value="">
                                <img src="img/search2.png">
                            </button>
                            </div>
                        </form>
                    </div>
                </div>
                <table>
                    <tbody>
                        <tr class="title">
                            <th class="board_num">No</th>
                            <th class="board_title">제목</th>
                            <th class="board_writer">글쓴이</th>
                            <th class="board_day">작성시간</th>
                            <th class="board_view">조회수</th>
                            <th class="board_like">좋아요</th>
                        </tr>
                        <tr>
                            <td class="board_num">1</th>
                            <td class="board_title">제목입니다</th>
                            <td class="board_writer">이종호</th>
                            <td class="board_day">2022/11/20</th>
                            <td class="board_view">30</th>
                            <td class="board_like">2</th>
                        </tr>
                        <tr>
                            <td class="board_num">2</th>
                            <td class="board_title">제목입니다</th>
                            <td class="board_writer">이종호</th>
                            <td class="board_day">2022/11/20</th>
                            <td class="board_view">30</th>
                            <td class="board_like">2</th>
                        </tr>
                        <tr>
                            <td class="board_num">3</th>
                            <td class="board_title">제목입니다</th>
                            <td class="board_writer">이종호</th>
                            <td class="board_day">2022/11/20</th>
                            <td class="board_view">30</th>
                            <td class="board_like">2</th>
                        </tr>
                        <tr>
                            <td class="board_num">4</th>
                            <td class="board_title">제목입니다</th>
                            <td class="board_writer">이종호</th>
                            <td class="board_day">2022/11/20</th>
                            <td class="board_view">30</th>
                            <td class="board_like">2</th>
                        </tr>
                        <tr>
                            <td class="board_num">5</th>
                            <td class="board_title">제목입니다</th>
                            <td class="board_writer">이종호</th>
                            <td class="board_day">2022/11/20</th>
                            <td class="board_view">30</th>
                            <td class="board_like">2</th>
                        </tr>
                        <tr>
                            <td class="board_num">6</th>
                            <td class="board_title">제목입니다</th>
                            <td class="board_writer">이종호</th>
                            <td class="board_day">2022/11/20</th>
                            <td class="board_view">30</th>
                            <td class="board_like">2</th>
                        </tr>
                        <tr>
                            <td class="board_num">7</th>
                            <td class="board_title">제목입니다</th>
                            <td class="board_writer">이종호</th>
                            <td class="board_day">2022/11/20</th>
                            <td class="board_view">30</th>
                            <td class="board_like">2</th>
                        </tr>
                    </tbody>
                </table>
                <div class="board_btn">
                    <button id="#" value="글쓰기">글쓰기</button>
                </div>
            </div>
        </div>
    </section>

</body>
</html>