<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Board</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<!--    <link rel="stylesheet" href="/css/fixed/header2.css" />-->
<!--    <link rel="stylesheet" href="/css/fixed/footer.css" />-->
    <link rel="stylesheet" href="/css/request/reset.css" />
    <link rel="stylesheet" href="/css/request/ask.css" />
</head>
<body>
<header th:replace="/fixed/header2.html" :: body></header>
    <main>
        <div class="body_area">
            <!-- 헤더 -->
            <div class="body_header">
                <h2 class="body_header_text">강의 요청</h2>
            </div>
            <!-- 작성 -->
            <div class="write_area">
                <form class="ask_form" method="post" id="askForm" th:action="@{/request/ask}" th:object="${request}">
                    <div class="field">
                    <input class="ask_title" type="text" placeholder="제목을 입력하세요" th:field="*{requestTitle}">
                    </div>
                    <input type="text" th:field="*{userNumber}">
                    <div class="field">
                    <select class="ask_category" name="category" th:field="*{requestCategory}">
                        <option value='' selected>-- 선택 --</option>
                        <option value="언어" th:name="언어">언어</option>
                        <option value="IT" th:name="IT">IT</option>
                        <option value="수학" th:name="수학">수학</option>
                        <option value="체육" th:name="체육">체육</option>
                        <option value="과학" th:name="과학">과학</option>
                        <option value="기타" th:name="기타">기타</option>
                    </select>
                    </div>
                    <div class="write_content_area field">
                        <textarea class="ask_content" cols="82" rows="22" th:field="*{requestContent}"></textarea>
                    </div>
                    <!-- 버튼 -->
                    <div class="button_area actions">
                        <div class="buttons">
                            <button class="cancel_button">취소</button>
                            <button class="write_button" type="submit">작성</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </main>
    <footer th:replace="/fixed/footer.html" :: #footer></footer>
</body>
</html>