body {
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
}
/* ---------------
       header
   --------------- */
#header .container {
    max-width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.navbar_left {
    display: flex;
    align-items: center;
}
.navbar_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    margin-right: 0;
    height: 64px;
}
.button {
    margin-bottom: unset;
    border: 1px solid #dbdbdb;
    padding: 8px;
    background: #fff;
    color: #363636;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 10px;
}
a.button.joinBtn {
    background: #ff7867;
    color: #fff;
}
.navbar_item {
    margin: 15px 20px;
}
.navbar_item a {
    color: #4a4a4a;
}
.headerLogo img {
    width: 100px;
    height: 20px;
}
.navbar_item.mypageBtn {
    display: flex;
    align-items: center;
}
span.mypageIcon {
    margin-right: 20px;
}
.top_header {
    display: flex;
}
.top_logo img {
    width: 20px;
    border-radius: 50%;
    margin-left: 20px;
}
.top_content {
    margin-left: 10px;
    font-weight: 600;
}
.top_header {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}




/* 
---------------------
        banner
---------------------
*/
.content {
    text-align: center;
}
h1.title {
    font-weight: 400;
    margin-bottom: 20px;
}

span.pagination_bullet {
    font-weight: 700;
    border: 1px solid #ced4da;
    border-radius: 20px;
    cursor: pointer;
    padding: 0 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}
.pagination_bullet:hover {
    border: 3px solid #00fa15;
}
.swiper_pagination_wrapper {
    text-align: center;
}
.bottomSolid {
    border-bottom: 1px solid #bdbdbd;
    margin-top: 30px;
}
.swiper_pagination {
    margin-top: 20px;
}
.banner_box {
    width: 83vw;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.slide_banner {
    width: 581vw;
}
.slide_banner div {
    width: 83vw;
    float: left;
}
.bannerTxt1 {
    position: absolute;
    margin-top: 140px;
    margin-left: 35px;
    font-size: 25px;
}
p.text1 {
    line-height: 1.6;
}



/* 
--------------------
     classList
--------------------
*/
a {
    text-decoration: none;
    cursor: pointer;
}
section.openClass {
    padding-top: 24px;
    padding-bottom: 24px;
}
section.search {
    padding-top: 48px;
    padding-bottom: 24px;
}
.openClassHeader {
    margin-bottom: 30px;
}
h1.title.classTitle {
    color: #1e1e1e;
    font-weight: 700;
    margin-bottom: 0;
}
p.subtext {
    margin-top: 4px;
    margin-bottom: 30px;
}
input.search_input {
    background-color: rgba(29,192,120,.12);
    border: 1px solid rgba(29,192,120,.12);
    padding: 14px 20px;
    border-radius: 28px;
    height: auto;
    width: 500px;
    text-align: center;
    position: absolute;
    display: flex;
    margin-left: 315px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}
.classCard {
    display: inline-block;
}
.openClassList {
    display: flex;
    align-items: center;
    max-width: 1200px;
    overflow: hidden;
}
.cardImage img {
    width: 280px;
    height: 190px;
    margin-right: 26px;
}
.classTitle {
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1.5em;
    height: 3rem;
    width: 285px;
    color: #333;
}
.instructor {
    color: #7d7d7d;
    font-size: .9rem;
    margin-bottom: 5px;
}
.price {
    font-weight: 700;
    color: #175cbe;
}
.tags {
    padding-top: 20px;
    padding-bottom: 40px;
}
span.tag {
    padding: 5px;
    border-radius: 4px;
}
button.button.searchBtn {
    margin-left: 450px;
    margin-top: 5px;
    border: none;
}
.searchBtn img {
    width: 20px;
    height: 20px;
}




/* 
------------------
    classRoom
------------------    
*/
h1.title.roomTitle {
    margin-top: 40px;
    font-weight: 700;
    color: #1e1e1e;
}
.roomContent {
    text-align: left;
}
.roomContent img {
    width: 390px;
    height: 200px;
    margin-right: 15px;
    box-shadow: -1px 5px 8px 0px #d5d5d5;
}
.roomTitle {
    font-weight: 600;
    overflow: hidden;
    margin-bottom: 4px;
    color: #333;
    margin-top: 20px;
}
.roomText {
    font-size: 1rem;
    color: #595959;
    overflow: hidden;
    height: 3rem;
    width: 100%;
    line-height: 1.5;
}
.content.rContent {
    display: flex;
    overflow: hidden;
    margin-bottom: 39px;
}
.roomTxt {
    padding-right: 30px;
}
.roomTitle.roomTit {
    font-size: 1.125rem;
}

section.request {
    padding: 48px 0;
    background-color: #f9f9f9;
}
h1.requestTitle {
    color: #1e1e1e;
    margin-bottom: 4px;
    line-height: 1.5;
    font-weight: 600;
    margin-top: 0;
}
.sub_text {
    font-weight: 400;
    color: #757575;
    font-size: .9375rem;
    margin-bottom: 25px;
}
h2.subtitle {
    margin-left: 7px;
}
.box {
    width: 280px;
    height: 230px;
    padding: 48px;
    color: #333;
    margin: 9px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
}
.text {
    line-height: 1.6;
}
a.requestList {
    font-weight: 700;
    background: #1dc078;
    color: #fff;
    margin-top: auto;
    padding: 12px 16px;
    border-radius: 29.486px;
}





/* 
------
footer
------
*/
footer#footer {
    background: #303740;
    padding: 0;
}
.footerTop {
    display: flex;
    margin: 0 auto;
    max-width: 1152px;
    justify-content: space-between;
    border-bottom: 1px solid #444;
    padding: 32px 20px;
}
.menuSublist {
    display: flex;
    flex-direction: column;
}
.menuList {
    font-weight: 700;
    color: #eee;
    font-size: 14px;
    padding: 16px 0;
    line-height: 1.43;
}
.menuSublist a {
    color: #bdbdbd;
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 7px;
    font-weight: 400;
}
.footer_bottom {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 auto;
    padding: 32px 20px;
}
.footer_bottom_left {
    color: #bdbdbd;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
}
.listTitle {
    margin-bottom: 15px;
}
.info_dropdown {
    max-height: 54px;
    margin-bottom: 8px;
}
.footer_info_top {
    margin-bottom: 10px;
}
.footer_bottom_right {
    display: flex;
    align-items: center;
}
.footer_bottom_right img{
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    margin: 10px;
    width: 40px;
}
.footerLogo img {
    width: 80px;
    height: 15px;
    margin-right: 10px;
}

