<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Board</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="https://webfontworld.github.io/pretendard/Pretendard.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/fixed/header2.css" />
    <link rel="stylesheet" href="/css/fixed/footer.css" />
    <link rel="stylesheet" href="/css/place/placeInformation.css" />
</head>
<body>
<header th:replace="/fixed/header2.html :: body"></header>
<main class="main">
    <section class="classRoom">
        <div class="container">
            <div class="classRoomList">
                <div class="roomHeader">
                    <a href="">
                        <h1 class="title roomTitle">
                            뫼비우스 건물의 강연장을 소개합니다 🏃🏻‍♀️
                        </h1>
                    </a>
                    <p class="subtext">
                        뫼비우스의 모든 강연장은 평일 09:00부터 20:00까지 개방해요!
                    </p>
                </div>
                <div class="content rContent">
                    <div class="roomContent">
                        <a href="">
                            <span class="image">
                                <img src="https://www.koreaisacademy.com/renewal2021/img/academy/interior/dg/academy_interior11.jpg">
                            </span>
                            <div class="roomTxt">
                                <div class="roomTitle roomTit">
                                    뫼비우스문화센터 5F A강연장 (최대인원 : 49명)
                                </div>
                                <div class="roomText">
                                    쾌적한 환경에서 보다 집중할 수 있고 넓은 강의장으로
                                    많은 수강생의 참여가 가능합니다.
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="roomContent">
                        <a href="">
                            <span class="image">
                                <img src="https://www.dcb.or.kr/images/sub/roomView03.jpg">
                            </span>
                            <div class="roomTxt">
                                <div class="roomTitle roomTit">
                                    뫼비우스문화센터 5F B강연장 (최대인원 : 65명)
                                </div>
                                <div class="roomText">
                                    주요학과에 전임강사진을 배치하여 교육완성도를 높이고
                                    철저한 책임관리를 통해 교육만족도를 높이고 있습니다.
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="roomContent">
                        <a href="">
                            <span class="image">
                                <img src="https://cdn.labortoday.co.kr/news/photo/202211/211847_89539_2334.jpg">
                            </span>
                            <div class="roomTxt">
                                <div class="roomTitle roomTit">
                                    뫼비우스문화센터 5F C강연장 (최대인원 : 100명)
                                </div>
                                <div class="roomText">
                                    취업지원센터를 운영해 이력서교정, 모의면접 등
                                    취업에 핵심 기술을 전달합니다.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="content rContent">
                    <div class="roomContent">
                        <a href="">
                            <span class="image">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpfRWNAkJMiMGdx-PKMLQ0Ou7u5UYSt5zEXw&usqp=CAU">
                            </span>
                            <div class="roomTxt">
                                <div class="roomTitle roomTit">
                                    뫼비우스문화센터 5F D강연장 (최대인원 : 80명)
                                </div>
                                <div class="roomText">
                                    쾌적한 환경에서 보다 집중할 수 있고 넓은 강의장으로
                                    많은 수강생의 참여가 가능합니다.
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="roomContent">
                        <a href="">
                            <span class="image">
                                <img src="https://www.songpa.go.kr/site/songpakids/images/contents/cts3554_img01.png">
                            </span>
                            <div class="roomTxt">
                                <div class="roomTitle roomTit">
                                    뫼비우스문화센터 5F E강연장 (최대인원 : 80명)
                                </div>
                                <div class="roomText">
                                    주요학과에 전임강사진을 배치하여 교육완성도를 높이고
                                    철저한 책임관리를 통해 교육만족도를 높이고 있습니다.
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="roomContent">
                        <a href="">
                            <span class="image">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRLy1b9jFtXgMpH4Ms-fBOV_mNG11D9VUxmQ&usqp=CAU">
                            </span>
                            <div class="roomTxt">
                                <div class="roomTitle roomTit">
                                    뫼비우스문화센터 5F F강연장 (최대인원 : 100명)
                                </div>
                                <div class="roomText">
                                    취업지원센터를 운영해 이력서교정, 모의면접 등
                                    취업에 핵심 기술을 전달합니다.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:replace="/fixed/footer.html :: #footer"></footer>
</body>
</html>