<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="/css/fixed/reset.css">
    <link href="https://webfontworld.github.io/pretendard/Pretendard.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/fixed/footer.css">
</head>
<body>
    <footer id="footer">
        <div class="wrapper">
            <div class="footerTop">
                <div class="menuList">
                    <div class="listTitle">
                        강의목록
                    </div>
                    <div class="menuSublist">
                        <a href="" >IT</a>
                        <a href="" >외국어</a>
                        <a href="" >강의추천</a>
                    </div>
                </div>
                <div class="menuList">
                    <div class="listTitle">
                        공지사항
                    </div>
                    <div class="menuSublist">
                        <a href="" >강의장 소개</a>
                        <a href="" >수강생 문의</a>
                        <a href="" >수강평 모아보기</a>
                    </div>
                </div>
                <div class="menuList">
                    <div class="listTitle">
                        1대 1 문의
                    </div>
                    <div class="menuSublist">
                        <a href="" >문의하기</a>
                        <a href="" >문의답변</a>
                        <a href="" >자주묻는 질문</a>
                    </div>
                </div>
                <div class="menuList">
                    <div class="listTitle">
                        고객센터
                    </div>
                    <div class="menuSublist">
                        <a href="" >공지사항</a>
                        <a href="" >자주묻는 질문</a>
                        <a href="" >저작권 신고센터</a>
                        <a href="" >수료증 확인</a>
                        <a href="" >강의 · 기능요청</a>
                    </div>
                </div>
                <div class="menuList">
                    <div class="listTitle">
                        강의장
                    </div>
                    <div class="menuSublist">
                        <a href="" >강의장 둘러보기</a>
                        <a href="" >강의장 문의</a>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="footer_bottom_left">
                    <div class="footer_info_top">
                        <span class="footerLogo">
                            <a href="">
                                <img src="img/logo.png">
                            </a>
                        </span>
                        <span>
                            |
                            <a href="" style="color: #bdbdbd; margin-left: 10px; margin-right: 10px;">개인정보취급방침</a>
                        </span>
                        <span>
                            |
                            <a href="" style="color: #bdbdbd; margin-left: 10px;">이용약관</a>
                        </span>
                    </div>
                    <div class="footer_info_bottom">
                        <div class="info_dropdown">
                            <span> (주)인프랩 | </span> 
                            <span> 대표자: 이형주 | </span> 
                            <span> 사업자번호: 499-81-00612 </span> 
                            <br>
                            <span>통신판매업: 2018-성남분당B-0062 | </span>
                            <span>개인정보보호책임자: 이동욱 |  </span>
                            <span>이메일: info@inflearn.com  </span>
                            <br>
                            <span>주소: 경기도 성남시 분당구 대왕판교로 660 유스페이스 1A동 405호</span>
                        </div>
                            ©INFLAB. ALL RIGHTS RESERVED
                    </div>
                </div>
                <div class="footer_bottom_right">
                    <a href="">
                        <img src="https://www.shouse.garden/images/common/u_in_m.png">
                    </a>
                    <a href="">
                        <img src="https://www.shouse.garden/images/common/u_fb_m.png">
                    </a>
                    <a href="">
                        <img src="https://www.shouse.garden/images/common/u_kc_m.png">
                    </a>
                    <a href="">
                        <img src="https://www.shouse.garden/images/common/u_ap_m.png">
                    </a>
                    <a href="">
                        <img src="https://www.shouse.garden/images/common/u_yt_m.png">
                    </a>
                </div>
            </div>
        </div>
       </footer>
</body>
</html>