<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://webfontworld.github.io/pretendard/Pretendard.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/review/review.css">
</head>
<body>

<header th:replace="/fixed/header2.html" :: body></header>
<section id="review">
    <div class="reviewBox">
        <div class="titleBox">
            <div class="reviewHeader">
                <span class="reviewTitle">수강평</span>
            </div>
            <div class="reviewTxt">
                🔥실시간으로 올라오는 진짜 수강평!🔥
            </div>
        </div>
    </div>
    <div class="review_view">
        <div class="container">
            <span>VIEW</span>
        </div>
    </div>
    <div class="container">

<!--        리스트 보이는 테이블 시작-->
        <div class="table-wrapper">
            <table>
                <thead>
                <tr class="tHead">
                    <th class="reviewNumber">번호</th>
                    <th class="reviewTitle">제목</th>
                    <th class="reviewWriter">작성자</th>
                    <th class="reivewRegisterDate">작성일</th>
                    <th class="reivewUpdateDate">수정일</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="review:${reviews}">
                    <tr class="tBody" th:object="${review}">
                        <td class="reviewNumber" th:text="*{reviewNumber}"></td>
                        <td class="reviewTitle"><a class="read" th:text="*{reviewTitle}" th:href="*{lectureNumber}"></a></td>
                        <td class="userNickname" th:text="*{userNickname}"></td>
                        <td class="reviewRegisterDate" th:text="*{#strings.substring(reviewRegisterDate,0,10)}"></td>
                        <td class="reviewUpdateDate" th:text="*{#strings.substring(reviewModifyDate,0,10)}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>

<!--              페이지 버튼 여지는 부분-->
            <div th:object="${pagination}">
                <div style="text-align: center">
                    <a class="changePage" th:href="*{startPage - 1}" th:if="*{prev}"><code>PREV</code></a>
                    <th:block th:each="page:${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                        <a class="changePage" th:href="${page}" th:if="${pagination.criteria.page != page}"><code th:text="${page}"></code></a>
                        <code th:unless="${pagination.criteria.page != page}" th:text="${page}"></code>
                    </th:block>
                    <a class="changePage" th:href="*{endPage + 1}" th:if="*{next}"><code>NEXT</code></a>
                </div>
                <form th:action="@{/review/list}" th:object="${criteria}" name="pageForm">
                    <input type="hidden" th:field="*{page}">
                    <input type="hidden" th:field="*{amount}">
                </form>
            </div>
        </div>
    </div>
</section>

<footer th:replace="/fixed/footer.html" :: #footer></footer>
</body>
<script src="/js/review/review.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">

    let boardNumber = [[${boardNumber}]];
    let $pages = $("a.changePage");
    let queryString = [[${pagination.criteria.queryString}]];
    const $read = $("a.read");

    $pages.on("click", function(e){
        e.preventDefault();
        $(document.pageForm.page).val($(this).attr("href"));
        document.pageForm.submit();
    });

    $read.on("click", function(e){
        e.preventDefault();
        location.href = "/review/detail" + queryString + "&reviewNumber=" + $(this).attr("href");
    });
</script>
</html>