body {
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
}
/* ---------------
       header
   --------------- */
#header .container {
    max-width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.navbar_left {
    display: flex;
    align-items: center;
}
.navbar_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    margin-right: 0;
    height: 64px;
}
.button {
    margin-bottom: unset;
    border: 1px solid #dbdbdb;
    padding: 8px;
    background: #fff;
    color: #363636;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 10px;
}
a.button.joinBtn {
    background: #ff7867;
    color: #fff;
}
.navbar_item {
    margin: 15px 20px;
}
.navbar_item a {
    color: #4a4a4a;
}
.mypageIcon img {
    width: 24px;
    height: 22px;
    margin-top: 5px;
    opacity: 0.7;
}
.headerLogo img {
    width: 100px;
    height: 20px;
}
.navbar_item.mypageBtn {
    display: flex;
    align-items: center;
}
span.mypageIcon {
    margin-right: 20px;
}
.top_header {
    display: flex;
}
.top_logo img {
    width: 20px;
    border-radius: 50%;
    margin-left: 20px;
}
.top_content {
    margin-left: 10px;
    font-weight: 600;
}
.top_header {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}


/*
------------------
    review
------------------
*/
span.reviewTitle {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
.titleBox {
    max-width: 1200;
    max-width: 1200px;
    margin: 0 auto;
}
.reviewTxt {
    font-weight: 400;
    line-height: 1.47;
    font-size: 15px;
    margin-top: 15px;
    color: #fff;
}
.reviewList {
    padding: 20px 0;
}
.header_left {
    display: flex;
    align-content: center;
    margin-bottom: 15px;
}
.reviewIcon img {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    border: 1px solid #e9ecef;
    overflow: hidden;
    margin-right: 8px;
}
.user_name {
    margin-top: 5px;
    margin-left: 10px;
}
.review_body {
    margin-bottom: 12px;
    line-height: 1.6;
    color: #495057;
    font-size: 15px;
    white-space: pre-line;
}
span.reviewDate {
    font-size: 13px;
    color: #adb5bd;
    font-weight: 500;
}
.class_name {
    margin-left: 10px;
    font-weight: 600;
    display: flex;
}
.review_el {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-top: 20px;
}
.reviewBox {
    background: #333b3d;
    padding: 24px 0;
    width: 100%;
}
.review_view {
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    font-weight: 600;
}
.moreView {
    border: 1px solid #bdbdbd;
    text-align: center;
    height: 40px;
    width: 500px;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    margin-left: 320px;
    margin-bottom: 50px;
}
.review_delete input {
    background: #fff;
    border-radius: 4px;
    margin-left: 15px;
    border: 1px solid #ccc;
}
input.review_modify {
    border: 1px solid green;
}

/* 수정 */
.review_modifiy {
    background: #f8f9fa;
    padding: 20px 20px;
}
textarea {
    font-weight: 400;
    line-height: 1.47;
    font-size: 15px;
    padding: 13px 12px;
    width: 90%;
    min-height: 102px;
    border: none;
    resize: none;
    color: #495057;
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
}
.modify_content {
    display: flex;
    align-items: center;
    margin-left: 30p;
}
button.modify_btn {
    margin-left: 34px;
    font-weight: 700;
    background-color: #00c471;
    border: #00c471;
    color: #fff;
    height: 40px;
    width: 50px;
}


/*
------
footer
------
*/
footer#footer {
    background: #303740;
    padding: 0;
}
.footerTop {
    display: flex;
    margin: 0 auto;
    max-width: 1152px;
    justify-content: space-between;
    border-bottom: 1px solid #444;
    padding: 32px 20px;
}
.menuSublist {
    display: flex;
    flex-direction: column;
}
.menuList {
    font-weight: 700;
    color: #eee;
    font-size: 14px;
    padding: 16px 0;
    line-height: 1.43;
}
.menuSublist a {
    color: #bdbdbd;
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 7px;
    font-weight: 400;
}
.footer_bottom {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 auto;
    padding: 32px 20px;
}
.footer_bottom_left {
    color: #bdbdbd;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
}
.listTitle {
    margin-bottom: 15px;
}
.info_dropdown {
    max-height: 54px;
    margin-bottom: 8px;
}
.footer_info_top {
    margin-bottom: 10px;
}
.footer_bottom_right {
    display: flex;
    align-items: center;
}
.footer_bottom_right img{
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    margin: 10px;
    width: 40px;
}
.footerLogo img {
    width: 80px;
    height: 15px;
    margin-right: 10px;
}
table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 50px;
    margin-left: 30px;
}
tr.tHead {
    height: 40px;
}
th {
    border-bottom: 1px solid #ccc;
}
td {
    height: 35px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 15px;
}
.reivewRegisterDate, .reivewUpdateDate {
    width: 90px;
}
.reviewWriter {
    width: 50px;
}
td.reviewTitle {
    text-align: center;
    width: 300px;
}
