@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

/*----- App -----*/

body {
    margin: 0;
    color: #000a12;
    text-rendering: optimizeSpeed;
    text-size-adjust: 100%;
    font-family: "Pretendard-Regular";
}

.wrap {
    display: flex;
    flex: 110px;
    padding: 32px;
    margin: 0px auto;
    max-width: 1200px;
}
.left-menu {
    width: 21.6667%;
    padding-right: 10px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
li {
    margin-bottom: 15px;
    font-weight: 600;
}
.li-three {
    margin-bottom: 25px;
}
.inquiry {
    color: gray;
    font-size: 12px;
    margin-top: 21px;
}
li > a {
    color: black;
}
.li-one {
    /*background-color: rgb(229, 249, 241);*/
    color: rgb(0, 196, 113);
    border-radius: 3px;
    height: 35px;
    display: flex;
    align-items: center;
}
.dash {
    /*background-color: rgb(229, 249, 241);*/
    /*color: rgb(0, 196, 113);*/
    margin-left: 15px;
}
li > span {
    margin-left: 15px;
}
.lecture-management {
    font-size: 12px;
    color: gray;
}
.profile {
    margin-left: 15px;
    font-size: 13px;
}
.notice {
    margin-left: 15px;
    font-size: 13px;
}
.lecture-ing {
    margin-left: 15px;
    font-size: 13px;
}
.lecture-request {
    margin-left: 15px;
    font-size: 13px;
}
.lecture-review {
    margin-left: 15px;
    font-size: 13px;
    color: green;
    font-weight: 900;
}
.lecture-end {
    margin-left: 15px;
    font-size: 13px;
}
.inquiry-history {
    margin-left: 15px;
    font-size: 13px;
}

/*----- App -----*/

/*  completion-lecture start */

.completion-lecture {
    width: 100%;
    padding-left: 37px;
}

.nav {
    border-bottom: 1px solid #e9ebee;
}

.total-lecture {
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.completion-total {
    display: flex;
    font-size: 14px;
}
.total {
    color: gray;
}
.lecture-count {
    color: green;
    padding-left: 6px;
}

.review-write {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.review-write > p {
    color: gray;
    font-weight: 600;
}

.show-completion {
    display: flex;
    align-items: center;
    height: 68px;
    border-bottom: 1px solid #e9ebee;
}

.completion-lecture-img {
    padding-right: 12px;
}
.completion-lecture-name {
    font-size: 14px;
    width: 80%;
}

.completion-lecture-review {
    margin-right: 15px;
    font-weight: 300;
    font-size: 13px;
}

.completion-img {
    width: 55px;
    height: 35px;
}
.completion-lecture-name > a {
    color: #3e4042;
}

/*  completion-lecture end */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
