/*----- App -----*/

.wrap {
    display: flex;
    flex: 110px;
    padding: 32px;
    margin: 0px auto;
    max-width: 1200px;
}
.left-menu {
    width: 21.6667%;
    padding-right: 10px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
li {
    margin-bottom: 15px;
    font-weight: 600;
}
.li-three {
    margin-bottom: 25px;
}
.inquiry {
    color: gray;
    font-size: 12px;
    margin-top: 21px;
}
li > a {
    color: black;
}
.li-one {
    background-color: rgb(229, 249, 241);
    color: rgb(0, 196, 113);
    border-radius: 3px;
    height: 35px;
    display: flex;
    align-items: center;
}
.dash {
    background-color: rgb(229, 249, 241);
    color: rgb(0, 196, 113);
    margin-left: 15px;
}
li > span {
    margin-left: 15px;
}
.lecture-management {
    font-size: 12px;
    color: gray;
}
.profile {
    margin-left: 15px;
    font-size: 13px;
}
.notice {
    margin-left: 15px;
    font-size: 13px;
}
.lecture-ing {
    margin-left: 15px;
    color: green;
    font-weight: 900;
    font-size: 13px;
}
.lecture-review {
    margin-left: 15px;
    font-size: 13px;
}
.lecture-end {
    margin-left: 15px;
    font-size: 13px;
}
.inquiry-history {
    margin-left: 15px;
    font-size: 13px;
}

/*----- App -----*/

/*  lecture  */
.lecture {
    margin-left: 70px;
    width: 100%;
}

.nav-lecture {
    display: flex;
    width: 100%;
}
.lecture-nav-content {
    display: flex;
}
.nav-first {
    margin-right: 30px;
    border-bottom: 2px solid;
    padding-bottom: 8px;
}
.ll {
    font-weight: 600;
}
.nav-second > a {
    color: #abb0b5;
}
.control-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.search-button {
    background-color: #3298dc;
    border-color: transparent;
    color: #fff;
    display: flex;
    border-radius: 2px;
    width: 46px;
    height: 32px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search-input {
    width: 445px;
    height: 28px;
    text-align: center;
    background: #f6f6f6;
    color: #5f5f5f;
    border: 1px solid transparent;
}

.control-wrapper {
    display: flex;
}

.label {
    font-size: 13px;
    color: #abb0b5;
}
.lecture-title {
    font-size: 15px;
    margin-top: 10px;
}
.select {
    width: 145px;
    height: 38px;
    margin-top: 5px;
    margin-bottom: 20px;
}
select {
    width: 100%;
    color: green;
    height: 100%;
    border-radius: 5px;
}
.search {
    display: flex;
}
.title-explanation {
    font-weight: 800;
    color: black;
    font-size: 12px;
}
.play-lecture {
    display: flex;
    margin-right: 30px;
}
.play-lecture-list {
    margin-right: 55px;
}

.go-lecture {
    display: flex;
    width: 262px;
    flex-direction: column;
    height: 88px;
}
.go-button {
    width: 30px;
    border-radius: 16px;
    border: 1px solid;
    height: 25px;
    text-align: center;
    color: green;
    margin-top: 16px;
    padding: 3px;
}
.go-button-first {
    width: 30px;
    border-radius: 16px;
    border: 1px solid;
    height: 25px;
    text-align: center;
    color: green;
    margin-top: 36px;
    padding: 3px;
}
.lecture-deadline {
    font-size: 12px;
    margin-left: 3px;
}
.lecture-img > img {
    width: 260px;
}
/*  ----- */

/*
------
footer
------
*/
footer#footer {
    background: #303740;
    padding: 0;
    margin-top: 5%;
}
.footerTop {
    display: flex;
    margin: 0 auto;
    max-width: 1152px;
    justify-content: space-between;
    border-bottom: 1px solid #444;
    padding: 32px 20px;
}
.menuSublist {
    display: flex;
    flex-direction: column;
}
.menuList {
    font-weight: 700;
    color: #eee;
    font-size: 14px;
    padding: 16px 0;
    line-height: 1.43;
}
.menuSublist a {
    color: #bdbdbd;
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 7px;
    font-weight: 400;
}
.footer_bottom {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 auto;
    padding: 32px 20px;
}
.footer_bottom_left {
    color: #bdbdbd;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
}
.listTitle {
    margin-bottom: 15px;
}
.info_dropdown {
    max-height: 54px;
    margin-bottom: 8px;
}
.footer_info_top {
    margin-bottom: 10px;
}
.footer_bottom_right {
    display: flex;
    align-items: center;
}
.footer_bottom_right img {
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    margin: 10px;
    width: 40px;
}
.footerLogo img {
    width: 80px;
    height: 15px;
    margin-right: 10px;
}
